.cards__container {
    display              : grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap           : 1rem;
    row-gap              : 1rem;
    justify-content: center;

 
    @media (min-width: 768px) {
        .cards__container{
            grid-template-columns: repeat(3, 1fr);
        }
    }
    @media (min-width: 1200px) {
        .cards__container{
            grid-template-columns: repeat(4, 1fr);
        }
    }
}

